[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "aether"
url = "http://pypi.aetherbio.com/simple"
verify_ssl = false

[dev-packages]
pylint = "*"
pylint-django = "*"
mypy = "*"
hypothesis = "*"
invoke = "*"
pre-commit = "*"
django-stubs = "*"
typing-extensions = "*"
django-silk = "*"

[packages]
django = "==3.2.9"
graphene-django = "*"
aether-federation = {version="*", index="aether"}

[requires]
python_version = "3"

[scripts]
